.App {
  height: 80vh;
  width: 100vw;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Desc {
  height: 20vh;
  background-color: orange;
  display: flex;
  justify-content: center;
}

.Table {
  color: white;
  font-size: 30px;
}

table {
  border-collapse: collapse;
}

th {
  width: 50px;
  overflow-wrap: break-word;
  padding: 15px 10px;
  border-bottom: 1px solid white;
}
td {
  padding: 15px 10px 0;
  text-align: center;
}
